<!DOCTYPE html>
<html>
<head>
  <% include ./include/meta.ejs %>
  <% include ./include/common.ejs %>
  <style>
    .jsgrid-grid-header {
    background: #0a9a2a;
    }
    .jsgrid-header-row>.jsgrid-header-cell {
    color: white;
    background: #0a9a2a;
    }
    .jsgrid-cell{
      border-color: #87ca96;
    }
    
    @media (max-width:500px){.small-box h3{font-size:1.5rem} ol{padding-inline-start: 20px;font-size:13px;}}
    @media (max-width:400px){#subscription_list li{padding-bottom:20px;}}
    @media (max-width:350px){.small-box h3{font-size:1.1rem}}

    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }
    form { background: #000; padding: 3px; position: fixed; bottom: 0;width: 100%; }
    form input { border: 0; padding: 10px; width: 90%; margin-right:.5%; }
    form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
  </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <% include ./include/sidebar.ejs %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <% include ./include/contentheader.ejs %>
 
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <h3>채팅방 만들기</h3>
          <input class="greeninput" id="makeroom_name" placeholder="채팅방 이름을 입력하세요"/>
          <div class="col-md-12">
            <br>
            <button class="buttonyellow" id="makeroom" style="color: black;">채팅방 만들기</div>
        </div>
      </div>
        <br>
        <h3>채팅리스트</h3>
      <div class="row">
        <div class="col-md-12">
          <div id="chatlist" style="color: black;"></div>
        </div>
      </div>
    </div>
      <!-- /.card-body -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark"></aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<% include ./include/script.ejs %>
<script src="/dist/js/demo.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
$(document).ready(function(){


  $("#makeroom").click(()=>{
    $.ajax({
      type : "POST",
      url : 'chat/addfriend',
      data : {
        room : $("#makeroom_name").val(),
        msg : "채팅방이 생성되었습니다."
      },
        success: function(r){
          if(r.status == true){
            alert("방이 생성되었습니다.")
            $("#chatlist").jsGrid("loadData");
          }else{
            alert("실패하였습니다.")
          }
        }
    })
  });

  $("#chatlist").jsGrid({
      height: "auto",
      width: "100%",

      sorting: true,
      paging: true,
      autoload: true,
      pageLoading: true,

      controller: {
          loadData: function(filter) {
              return $.ajax({
                  type: "POST",
                  url: `chat/getlist`,
                  data: filter
              });
              console.log(filter)
          }
      },
      fields: [
          { name: 'room', type: 'text', title:'방이름', align:'center', width:5 }
      ],
      rowClick:function(args){
        console.log(args)
          sendurl(args.item.room);
      }
  });
});

function sendurl(room){
        location.href = "/chatting_room?room=" + room;
};
</script>
</body>
</html>