<!DOCTYPE html>
<html>
<head>
  <% include ./include/meta.ejs %>
  <% include ./include/common.ejs %>
 

  <style>
    .content-wrapper{
      background: white; 
    }
    @media (max-width:500px){.small-box h3{font-size:1.5rem} ol{padding-inline-start: 20px;font-size:13px;}}
    @media (max-width:400px){#subscription_list li{padding-bottom:20px;}}
    @media (max-width:350px){.small-box h3{font-size:1.1rem}}
  </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <% include ./include/sidebar.ejs %>
    <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <% include ./include/contentheader.ejs %>
      </div>
      <aside class="control-sidebar control-sidebar-dark"></aside>
  </div>
  <% include ./include/script.ejs %>
<script src="/dist/js/demo.js"></script>
</body>
</html>


