<!DOCTYPE html>
<html>
<head>
  <% include ./include/meta.ejs %>
  <% include ./include/common.ejs %>
  <style>
  .main-title h1{
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }
  .login-page{
    background: rgb(253, 244, 205);
  }
  .btn-primary {
    color: #000;
    background-color:rgb(253, 244, 205);
    border-color:rgb(253, 244, 205);
}
  </style>
  
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <div class="col-md-12 text-center main-title">
      <h1>흥부놀부</h1>
    </div>
  </div>

  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg"><b>LOGIN</b></p>

      <form name="frmlogin" action="/loginprocess" method="post">
        <div class="input-group mb-3">
          <input type="text" name="user_id" class="form-control" placeholder="ID" value="">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="user_passwd" class="form-control" placeholder="Password" value="">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block" style="background: rgb(255, 212, 31);">Sign In</button>
          </div>
          <div class="col-12" style="text-align:right;">
            <a href="/signup">Sign Up</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<% include ./include/script.ejs %>
<script>
  $( document ).ready( function() {
    $( '#login' ).fadeIn( 2000 );
  } );
</script>
<!-- <script>
  $(function () {
    
    setTimeout(() => {
      <% if(runlocal == "Y") { %>
        document.frmlogin.user_id.value = 'admin';
        document.frmlogin.user_passwd.value = 'admin';
        // document.frmlogin.submit();
      <% } %>
    }, 100);
  })
</script> -->
</body>
</html>
